<html>
        <script>
        username = '11';

        //loginhb = 'OptQZt4l$bb1dc813f1d3a23278443a228f48c0e4a59e4754c4a8e805c2146020c2f8f26a';
        //localStorage.setItem(username, loginhb);
        //console.log('[info:set] username: '+username+', loginhb: '+loginhb);
        buf = localStorage.getItem(username);
        //localStorage.setItem('{{username}}', '{{LoginHB}}');
        //localStorage.getItem('{{username}}');
        //console.log('username:','{{username}}','loginhb:','{{LoginHB}}');
        console.log('[info:get] username: '+username+', loginhb: '+buf);
        </script>
</html>